{% include "header.html" %}
  <link href="{{url_for('static', filename='css/index.css')}}" rel="stylesheet" />


{% for message in get_flashed_messages() %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  {{message}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{%endfor%}

 <body>
    <div class="container">
        <div class="container text-center">
  <div class="row">
    <div class="col">
        {%if is_logged%}
        <h1>Welcome {{name}}, to My Website</h1>
        {%else%}
        <h1>Welcome user, to My Website</h1>
        {%endif%}
      <p class="fade-in">Thank you for visiting our site. We hope you enjoy your stay.</p>
      <button id="button">Click me!</button>
    </div>
    <div class="col">
        <img src="https://images.unsplash.com/photo-1599058917212-d750089bc07e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8d29ya291dHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60" alt="">
    </div>
  </div>
  <div class="row">
    <div class="col">
      1 of 3
    </div>
    <div class="col">
      2 of 3
    </div>
    <div class="col">
      3 of 3
    </div>
  </div>
</div>

    </div>
    <script>
      // Add a click event to the button
      document.getElementById("button").addEventListener("click", function() {
        alert("Thank you for clicking the button!");
      });
    </script>
  </body>



{%include "footer.html"%}



