 {% include "header.html" %}

{% for message in get_flashed_messages() %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  {{message}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
 {%endfor%}
    <h1>Login Form</h1>
  <form class="form-login" method="post" action="/login">
    {{ form.csrf_token }}
    {{ form.email(placeholder='Email', class="form-control") }}
    {{ form.password(placeholder='Password', class="form-control") }}
      {{ form.submit (class="btn btn-primary") }}

   </form>


 {%include "footer.html"%}