
{% include "header.html" %}



<head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/timer.css')}}">
</head>
<body>
<div class="container">
  <h1>Rest</h1>
  <div class="container text-center">
  <div class="row align-items-start">
    <div class="col">

    </div>
    <div class="col">
        <span class="timer" id="timer">{{rest}}s</span>
         <div class="timer-container">
            <progress max="{{rest}}" value="{{rest}}" class="timer-bar" id="timer-bar"></progress>
          </div>
    </div>
    <div class="col">
        <p class="timer--display-sets">Sets: {{sets_counter}}/{{sets}}</p>
    </div>
  </div>
</div>

</div>
<script src="{{url_for('static', filename='js/timerRest.js')}}"></script>

</body>

{%include "footer.html"%}