
{% include "header.html" %}



<head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/timer.css')}}">
</head>
<body>
<div class="container">
  <h1>Timer setup</h1>
  <div class="container text-center">
  <div class="row align-items-start">
    <div class="col">

    </div>
    <div class="col">
      <form action="{{url_for('display_timer')}}", method="post">
        <div>
           <label for="timer--exercise">Exercise (seconds)</label>
          <input name="exercise" id="timer--exercise" class="form-control" type="text" placeholder="Default input" aria-label="default input example">
        </div>

        <div>
           <label for="timer--rest">Rest (seconds)</label>
            <input name="rest" id="timer--rest" class="form-control" type="text" placeholder="Default input" aria-label="default input example">
        </div>

        <div>
           <label for="timer--sets">Sets</label>
            <input name="sets" id="timer--sets" class="form-control" type="text" placeholder="Default input" aria-label="default input example">
        </div>
        <button type="submit" class="btn btn-primary">Start!</button>

  </form>
        <button onclick="handleOffCanvas()" id="timer-offcanvas" class="btn btn-outline-info mt-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">Show worklog</button>

<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Offcanvas with body scrolling</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="list-group">
        {%for data in all_data%}
  <li class="list-group-item">
      <p class="d-block p-2 text-bg-dark">User: {{data.user}}. / {{data.sets}}x / {{data.exercise_seconds}}s / {{data.rest_secods}}s</p>
      <small class="d-block p-2 text-bg">{{data.date}}</small>
  </li>
    {%endfor%}


</ul>
  </div>
</div>
    </div>
    <div class="col">
    </div>
  </div>
</div>

    <div class="container text-center">
  <div class="row justify-content-md-center">

  </div>
  <div class="row">
    <div class="col">



    </div>
    <div class="col-md-auto">
      Variable width content
    </div>
    <div class="col col-lg-2">
      3 of 3
    </div>
  </div>
</div>

</div>
<script src="{{url_for('static', filename='js/timerExercise.js')}}"></script>

</body>

{%include "footer.html"%}