{% include "header.html" %}




<head>
  <link href="{{url_for('static', filename='css/workoutData.css')}}" rel="stylesheet" />
</head>
<body>
<div style="margin:40px" class="container text-center">
  <div   class="row">
    <div style="padding:50px" class="col">
<form  method="POST">
        <div class="form-check">
            <input name="days" class="form-check-input" type="radio" value="Monday" id="flexCheckCheckedMonday">
            <label class="form-check-label" for="flexCheckCheckedMonday">
              Monday
            </label>
          </div>
          <div class="form-check">
            <input name="days" class="form-check-input" type="radio" value="Tuesday" id="flexCheckCheckedTuesday" checked>
            <label class="form-check-label" for="flexCheckCheckedTuesday">
              Tuesday
            </label>
          </div>
       <div class="form-check">
            <input name="days" class="form-check-input" type="radio" value="Wednesday" id="flexCheckDefaultWednesday">
            <label class="form-check-label" for="flexCheckDefaultWednesday">
              Wednesday
            </label>
          </div>
       <div class="form-check">
            <input  name="days" class="form-check-input" type="radio" value="Thursday" id="flexCheckDefaultThursday">
            <label class="form-check-label" for="flexCheckDefaultThursday">
              Thursday
            </label>
          </div>
       <div class="form-check">
            <input name="days" class="form-check-input" type="radio" value="Friday" id="flexCheckDefaultFriday">
            <label class="form-check-label" for="flexCheckDefaultFriday">
              Friday
            </label>
          </div>
       <div class="form-check">
            <input name="days" class="form-check-input" type="radio" value="Saturday" id="flexCheckDefaultSaturday">
            <label class="form-check-label" for="flexCheckDefaultSaturday">
              Saturday
            </label>
          </div>
              <div  class="form-check">
            <input name="days" class="form-check-input" type="radio" value="Sunday" id="flexCheckDefaultSunday">
            <label class="form-check-label" for="flexCheckDefaultSunday">
              Sunday
            </label>
          </div>
       <hr>
       <div class="my-3">
         <h4>Muscles worked</h4>
       </div>
       <div class="form-check form-check-inline">
          <input name="muscles" class="form-check-input" type="radio" id="inlineCheckbox1" value="Legs">
          <label class="form-check-label" for="inlineCheckbox1">Legs</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="muscles" class="form-check-input" type="radio" id="inlineCheckbox2" value="Arms">
          <label class="form-check-label" for="inlineCheckbox2">Arms</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="muscles" class="form-check-input" type="radio" id="inlineCheckbox3" value="Chest">
          <label class="form-check-label" for="inlineCheckbox3">Chest</label>
        </div>
         <div class="form-check form-check-inline">
          <input name="muscles" class="form-check-input" type="radio" id="inlineCheckbox4" value="Abs">
          <label class="form-check-label" for="inlineCheckbox3">Abs</label>
        </div>
       <hr>
       <div>
         <label class="my-2" for="weight"> <h4>Weight</h4> </label>
        <input id="weight" name="weight" class="form-control" type="text" placeholder="Default input" aria-label="default input example">
       </div>

         <button type="submit">Send</button>

     </form>
    </div>
    <div class="col">
      2 of 2
    </div>
  </div>
</div>


</body>

{%include "footer.html"%}